body, html {
	overflow-x: hidden;
}
/*login stuff*/
#login {
	
	z-index: 3;
	position: fixed;
    display: inline-block;
	padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4); /* Black with opacity */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;
    }
#modal_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
	text-align: center;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.close {
    color: white;
    float: right;
    font-size: 35px;
    font-weight: bold;
	margin-right: 12px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal_body {
    padding: 10px 0px;
    background-color: #e6e9ef;
}
.green_submit {
	border: none;
	border-left: 2px solid lime;
	border-bottom: 2px solid lime;
	background-color: white;
	padding: 13px 40px;
	display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.white_submit {
	border: none;
	border-left: 2px solid #42e2f4;
	border-bottom: 2px solid #42e2f4;
	background-color: white;
	padding: 13px 40px;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	margin-right: 25px;
}
.green_submit:hover, .white_submit:hover {
	cursor: pointer;
	background-color: #e0e1e2;
}
input [type=button], [type=submit] {
	outline: none;
}
.title1 {
	margin-top: -5px;
}
.close {
	color: red;
}
#wrongpass, #wrongpass1, #wrongpass2, #wrongpass3 {
	display: none;
}
#loading {
	display: none;
}
#remember_acc2 {
	color: #0000EE;
	text-decoration: underline;
}
#remember_acc2:hover {
	cursor: pointer;
}
#remember_acc3 {
	display: none;
	margin-bottom: -10px;
	font-size: 15px;
}
textarea {
	overflow: auto;
	resize: none;
}
#post_author, #post_quote {
	padding: 10px 20px;
	width: 30%;
	border-width: 2px;
	border-color: yellow;
	outline-width: 0px;
	box-shadow: none!important;
	border-style: solid;
	font-family: arial;
	font-size: 14px;
}
#entire_post {
	display: none;
}
#post_clear {
	padding-top: 10px;
}
#post_clear:hover {
	cursor: pointer;
	text-decoration: underline;
}
#login_username, #login_password {
	padding: 8px 16px;
	width: 30%;
	border-radius: 0 3px 3px 0;
	border: none;
	margin-bottom: 12px;
	margin-left: 0!important;
}
#awesomepassword, #awesomeusername {
	margin-right: -5px;
	width: 5%;
	padding: 5px 5px 7px 6px;
	background-color: #cfd1d3!important;
	border-radius: 3px 0 0 3px;
    text-align: center;
}
.importanthidden {
	display: none!important;
}
#login {
	display: none;
}
.centerplaceholder::-webkit-input-placeholder {
	text-align: center;
}
#entire_forget {
	color: #0000EE;
}
#entire_forget:hover {
	cursor: pointer;
	text-decoration: underline;
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari*/
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#post_error {
	display: none;
}
#post {
	margin-top: 10px;
	border: none;
	padding: 20px 50px;
	background-color: lime;
	border-radius: 5px;
}
#post:hover {
	color: white;
	cursor: pointer;
	background-color: green;
}
.post {
	display: inline-block!important;
}
.poster1 {
	border-style: solid;
	float: left;
	position: relative;
	right: 40%;
	text-transform: capitalize;
}
.likes {
	float: right;
	position: relative;
	left: 40%;
}
#entire_home {
	margin-top: 70px;
	width: 100%;
	height: auto;
	min-height: 90%;
}
#refresh {
	left: 80px;
	bottom: 40px;
	padding: 7px 20px;
	width: 100px;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
	background-color: cyan;
	position: fixed;
	border-radius: 4px;
}
#refresh:hover {
	cursor: pointer;
	background-color: #18afaf;
}
#delete_acc:hover {
	cursor: pointer;
}
i::before{
    background:transparent;
}