#nav_container {
	z-index: 100;
	position: fixed;
}
ul {
	position: fixed;
    list-style-type: none;
    padding: 0;
	margin: 0;
    overflow: hidden;
    background-color: #9adcf4;
	top: 0%;
    width: 100%;
    border: none;
	z-index: 100;
	height: auto;
}


li a, .me {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 16px 35px;
    text-decoration: none!important;
    text-transform: capitalize;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari*/
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*li {
	float:left;
}*/
#nav_bar {
	display: block;
}
#nav_home, #nav_post {
	float: left;
}
#nav_home {
	margin-left: 52px;
	padding-left: 40px;
	padding-right: 48px;
}
#nav_login, #nav_me {
	float: right;
}
#nav_post:hover, #nav_home:hover {
	background-color: #818387;
    cursor: pointer;
    color: white!important;
    transition: background-color 0.3s, color 0.5s;
}
.fa-bars:hover {
	color: #818387;
	cursor: pointer;
	transition: color 0.3s;
}
#nav_login {
	background-color: #0fdd20; 
}
#nav_login:hover {
	background-color: #0b8e25;
	cursor: pointer;
	color: black!important;
	transition: background-color 0.3s, color 0.5s;
}
#nav_signout {
	background-color: red;
}
	
#nav_loggedin, #nav_loggedout, #nav_posted, #nav_posterror {
	float:none;
	overflow: hidden;
	display: none;
}
#nav_loggedin, #nav_posted {
	background-color: lime;
}
#nav_loggedout, #nav_posterror {
	background-color: red;
}
#nav_signout {
	display: none;
}
/*#nav_me {
	display: none;
}*/
#nav_post {
	display: none;
	padding-left: 37px!important;
	padding-right: 37px!important;
}
.white {
	color: white!important;
}
.wrapper-dropdown-5 {
    /* Size & position */
    position: relative!important;
    width: 200px;
    margin: 0 auto;

    /* Styles */
    background: yellow;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute!important;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}
.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute!important;
    top: 100%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;

    /* Hiding */
	max-height: 0px;
}
.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}
.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9;
}
.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: orange;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}
.importantoverflow {
	overflow: visible!important;
}
#nav_nav {
	display: block!important;
	visibility: visibile!important;
}
#nav_switch {
	display: block;
	top: 0;
	height: auto;
	width: auto;
	padding: 17px;
	margin-right: 5px;
	position: fixed;
	z-index: 200;
}